/*_______________________________________________Allgemein Einstellungen*/
*{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-style: normal;
}

.green-button {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}


/*_______________________________________________Header*/

header{
    background-color: #FDFFF8;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 200px;
    display: 1;
}


/*__________Navigation*/

nav{
    display: 4;
}

.nav_links{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0;
    flex-wrap: wrap;
}

.nav_links a{
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 15px 0px 15px;
    text-decoration: none;
    
}

.nav_links a:hover, .aktiver_nav_link{
    color: white;
    background-color: #008849;
}

/*_______________________________________________Main*/




/*_______________________________________________Footer*/