*{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-style: normal; 
}

.green-button {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

h1{
    color: white;
    text-align: center;
    font-size: 63px;
    font-weight: 900;
    margin: 10px;
}

h2{
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 10px;
}

p{
    color: white;
    text-align: center;
    font-size: 32px;
}

.oranger_titel{
    font-size: 32px;
    color: #CD7C46;

}
.header_container,
.block1_container,
.rezensionen_container,  
.quartet_container,
.accordion_container,
.footer_container{
    max-width: 1536px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*______________________________________________Mobile view*/

/*Allgemein Einstellungen*/

@media only screen and (max-width: 900px) {
    .header_container,
    .block1_container,
    .rezensionen_container,  
    .quartet_container,
    .accordion_container,
    .footer_container{
        max-width: 100% !important;
    }

    h2{
        font-size: 35px;
    }

    h1{
        font-size: 35px !important;
    }

    p{
        font-size: 25px !important;
    }

     /*Header*/

     header{
        padding: 0px 30px 0px 30px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #logo{
        width: 180px !important;
        display: 1;
        margin-top: 20px;
    }

    #start_button {
        display: none !important;
    }

    .header_container{
    display: flex;
    }

    .nav_links {
        display: flex;
        justify-content: space-around;
    }

    /*Main*/

    .block1{
        border-left: 0px solid #008849 !important;
        border-right: 0px solid #008849 !important;
        padding: 40px !important;
        height: 600px;
    }

    .zeile2,
    .zeile3{
        height: 400px !important;
    }

    .block2,
    .block5,
    .newsletterbox{
        display: none !important;
    }

    .uebertitel_rezensionen{
        padding: 50px 0px 50px 0px !important;
    }

    .rezensionen_karussell{
        flex-wrap: wrap !important;
    }

    .rezensionen_block{
        display: none !important;
    }

    /*Footer*/

    .footer__links {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .footer__links__left,
    .footer__links__center {
        text-align: center !important;
        padding-left: 0px !important;
      }

    .adresse_footer_right {
        padding-right: 0px !important;
    }

      .adresse_footer_right p {
        text-align: center !important;
        font-size: 25px !important;
        
    }

    #school-logo {
       display: none !important;
    }

    .newsletterbox{
        display: none !important;
    }


}

 /*__________________________________________Tablet view*/

 @media only screen and (max-width: 1200px) {
    .header_container,
    .block1_container,
    .block2_container,  
    .quartet_container,
    .partner_container,
    .footer_container{
        max-width: 100% !important;
    }

     /*Header*/

     header{
        padding: 0px 30px 0px 30px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo{
        width: 200px !important;
        display: 1;
        margin-top: 10px;
    }

    #start_button {
        display: none !important;
    }

    .header_container{
    display: flex;
    }

    .nav_links {
        display: flex;
        justify-content: space-around;
    }

    /*Main*/

    .custom-block {
        padding: 40px !important; /* Innenabstand des Blocks (optional) */
    }

    .block1{
        border-left: 0px solid #008849 !important;
        border-right: 0px solid #008849 !important;
        padding: 40px !important;
        height: 600px;
    }

    .zeile2,
    .zeile3{
        height: 400px !important;
    }

    .block2,
    .block5,
    .newsletterbox{
        display: none !important;
    }

    .container_logos {
        flex-wrap: wrap;
    }

    .custom-block2 {
       padding: 40px !important;

    }

    .container_logos {
        text-align: center !important;
    }

    #school-logo {
       display: none !important;
    }

    /*Footer*/

    .newsletterbox{
        display: none !important;
    }


}

/*_______________________________________________Header*/

header{
    background-color: #FDFFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    position: sticky;
    top: 0;
}

#logo{
    width: 248px;
    display: 1;
}


/*__________Navigation*/

nav{
    display: 4;
}

.nav_links{
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nav_links a{
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 24px;   
    text-align: center;
    color: #004317; 
}

.nav_links a:hover, .aktiver_nav_link{
    font-weight:900;
    color: #004318;
    margin-bottom: 5px;
}



/*_______________________________________________Zeile 1*/

.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #008849;
    border-radius: 25px;
    border-left: 300px solid #008849;
    border-right: 300px solid #008849;
    height: 600px;
}



/*_______________________________________________Zeile 2*/

.zeile2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    height: 600px;
}

.block2 {
    width: 100%;
    flex: 50%;
}

.block2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.block3{
    display: flex;
    background-color: #004318;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 30px solid #004318;
    border-right: 30px solid #004318;
    border-radius: 25px;
    box-sizing: border-box;
    flex: 50%;
}



/*_______________________________________________Zeile 3*/

.zeile3{ 
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    height: 600px;
}

.block4{
    display: flex;
    background-color: #BEF542;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 30px solid #BEF542;
    border-right: 30px solid #BEF542;
    border-radius: 25px;
    box-sizing: border-box;
    flex: 50%;
}


.block5{
    width: 100%;
    flex: 50%;
}

.block5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}


/*_______________________________________________Accordion*/

#accordion li{
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#accordion li label{
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 800;
    font-size: 28px;
    color: #004318;
    border-top: solid #004318 4px;
    
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 32px;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0px 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 700px;
}

.content p{
    border-top: dotted #004318 2px;
    padding-top: 20px;
    color: #004318;
    font-size: 26px;
    text-align: left;
}
/*_____________________Übertitel*/

.uebertitel_dropdown{
    font-weight: 900;
    color: #CD7C46;
    text-align: left;
    font-size: 48px;    
    margin: 100px 0px 42px 0px;
}


/*_____________________Untertitel Drop-down Menu*/


.dropdown_menu_titel{
    display: flex;
    border-top: solid #004318 4px;
    border-bottom: dotted #004318 2px;
    padding-left: 10px;
    padding-right: 10px;
}


.dropdown_zahl{
    font-weight: 900;
    color: #004318;
    text-align: left;
    flex: 50px;
}

.untertitel_dropdown{
    font-weight: 900;
    color: #004318;
    text-align: left;
    flex: 100%;
}

.dropdown_pfeil img{
    flex: 10%;
    text-align: right;
    height: 14px;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*_______________________________________________Rezensionen*/


.uebertitel_rezensionen{
    color: #004318;
    font-weight: 900;
    padding-top: 100px;
    padding-bottom: 42px;
    padding-left: 5%;
    padding-right: 5%;
}

.rezensionen_karussell{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    height: 600px;
}

.rezensionen_block,
.rezensionen_block_1{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 30px solid white;
    border-right: 30px solid white;
    border-radius: 25px;
    box-sizing: border-box;
    flex: 50%;
    box-shadow: 1px 15px 20px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 42px;
}

.rezensionen_name{
    color: #004318;
    font-weight: 900;
    font-size: 28px;
}

.rezensionen_text{
    color: #004318;
    font-weight: 500;
    font-size: 28px;
}

.rezensionen_link_kompletter_artikel{
    font-size: 20px;
    color: #004318;
    border-bottom: 4px solid #BEF542;
}

.rezensionen_link_kompletter_artikel a{
    text-decoration: none;
}

.rezensionen_dots{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


/*_______________________________________________Footer*/

footer {
    width: 100%;
    background-color:#F2F8E2;  
    color:#004318; 
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
 }

 .titel_footer {
     font-size: 48px;
     font-weight: 800;
     margin: 10px 100px 10p;
     color: #004318;
 }

 .newsletterbox {
     width: 100%;  
     height: 100px;
     margin: 0 auto;
     margin-top: 50px;
     background-color: #004318;
     border-radius: 25px;
     display: flex;
     align-items: center;

}

.text_newsletter {
   text-align: left;
   padding-left: 50px;
    font-size: 32px;
    font-weight: 700;
    color: white;
    flex: 1;
   
   }

 .email {
     width: 300px;
     height: 30px;
     border-radius: 25px;
     border: none;
     padding-left: 10px;
 }

 .email__and_button {
     padding-right: 50px;
 }

 .footer__links {
     display: flex;
     width: 100%;
     justify-content: space-between;
 }

   .center{
       padding-left: 0  ;
   }

  a {
   text-decoration: none;
   font-size: 32px;
   color: #004318;
 }

 .footer__links__left {
   text-align: left;
   padding-left: 40px;
   width: 300px;
   justify-content: left;
 }

.container_footer_links{
   padding-top: 10px;
   padding-bottom: 10px;
}

.footer__links__center{
   width: 300px;    
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
}

.adresse_footer_right {
   justify-content: right;
   padding-right: 40px;
   width: 300px;
}

.adresse_footer_right p {
       text-align: right;
       font-size: 25px;
       color: #004318;
       text-decoration: none;
   }

.Trennbalken {
     width: 70%;
    } 

.icons_footer {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 25%;
   padding-top: 10px;
   padding-bottom: 10px;
   align-items: center;
}

.icons_footer img{
   margin: 0px 15px 0px 15px;
}

.Linkliste {
   padding: 0;
}

.center_linkliste {
   padding: 0;
}

.container_email {
   display: flex;
   background-color: white;
   justify-content: space-between;
   align-items: center;
   border-radius: 25px;
   padding-right: 15px;
   padding-left: 5px;
   height: 85%;
   margin-right: 15px;
}
.pfeil {
   padding-right: 10px;
   padding-left: 10px;
}

.green-button-footer {
   background-color: #008849;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 25px;
   cursor: pointer;
   font-size: 16px;
   align-self: center;
}

.button_footer {
   justify-content: center;
   align-items: center;
   height: 100%;
}