/*_______________________________________________Allgemein Einstellungen*/
*{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-style: normal; 
}

.green-button {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

h1{
    color: white;
    font-size: 63px;
    font-weight: 900;
    margin: 10px;
}

h2{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin: 10px 10px 10px 0px;
}

h3{
    color: #004318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}

p{
    color: white;
    font-size: 32px;
}

.oranger_titel{
    font-size: 32px;
    color: #CD7C46;
    margin-bottom: 0px;

}

.text_green{
    color: #004318;
    font-size: 32px;
    font-weight: 500;
}

.h2_green{
    color: #004318;
    font-size: 48px;
    font-weight: 900;
    margin: 10px;
}

.header_container,
.block1_container,
.block2_container,
.block3_container,
.block4_container,
.block5_container,
.block6_container,
.footer_container{
    max-width: 1536px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*______________________________________________Mobile view*/

/*Allgemein Einstellungen*/

@media only screen and (max-width: 600px) {
    .header_container,
    .block1_container,
    .block2_container,
    .block3_container,
    .block4_container,
    .block5_container,
    .block6_container,
    .footer_container{
        max-width: 100% !important;
    }

    h2{
        font-size: 35px;
    }

    h1{
        font-size: 35px !important;
    }

    .h2_green{
        font-size: 35px;
    }

    p{
        font-size: 25px !important;
    }

     /*Header*/

     header{
        padding: 0px 30px 0px 30px !important;
        
    }

    #logo{
        width: 75px !important;
        display: 1;
    }

    .nav_links{
        gap: 0px !important;
    }

    .nav_links a{
        font-size: 12px !important;
        width: 90px !important;
        padding: 0px !important; 
    }

    #start_button {
        display: none !important;
    }

    /*Main*/

    .block1{
        height: auto !important;
        padding: 40px !important;
    }

    .container_profiles{
        flex-wrap: wrap !important;
    }

    .profile_dario,
    .profile_simone,
    .profile_cedric{
       text-align: center !important;
    }

    .profile_dario p,
    .profile_simone p,
    .profile_cedric p{
       margin-top: 0px !important;
       margin-bottom: 50px !important;
    }

    .block3{
        text-align: left !important;
    }

    .container_value_box {
        flex-wrap: wrap !important;
    }
    
    .value_box_1, 
    .value_box_2, 
    .value_box_3{
        margin-bottom: 40px;
    }

}


/*_______________________________________________Header*/

header{
    background-color: #FDFFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    position: sticky;
    top: 0;
}

#logo{
    width: 248px;
    display: 1;
}


/*__________Navigation*/

nav{
    display: 4;
}

.nav_links{
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nav_links a{
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 24px;   
    text-align: center;
    color: #004317; 
}

.nav_links a:hover, .aktiver_nav_link{
    font-weight:900;
    color: #004318;
    margin-bottom: 5px;
}


/*_______________________________________________Zeile 1*/

.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #004318;
    border-radius: 25px;
    padding: 50px 40px 50px 40px;
    height: 400px;
}


/*_______________________________________________Zeile 2*/

.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #FDFFF8;
    border-radius: 25px;
    padding: 50px 40px 50px 40px;
    height: 600px;
}

.container_profiles {
    padding-top: 50px;
    display: flex;
    align-items: center;   
    width: 100%;
    justify-content: space-around;

}



/*_______________________________________________Zeile 3*/

.block3{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    text-align: right;
    background: #BEF542;
    border-radius: 25px;
    padding: 70px 40px 50px 40px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*_______________________________________________Zeile 4*/

.block4{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
    background: #008849;
    border-radius: 25px;
    padding: 70px 40px 50px 40px;
    height: auto;
}


/*_______________________________________________Zeile 5*/

.block5{
    text-align: center;
    background: #F2F8E2;
    border-radius: 25px;
    padding: 50px 40px 90px 40px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container_value_box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 50px;
}

.value_box_1, .value_box_2, .value_box_3{
    height: auto;
    width: 391px;
}


/*_______________________________________________Zeile 6*/

.block6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    height: 600px;
}

.container_logos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo{
    flex: 25%;
}
.img_logo_fhgr{
    width: auto;
    height: 100px;
}

.img_logo_eth{
    width: auto;
    height: 250px;
}

.img_logo_genf {
    width: auto;
    height: 100px;
}

.img_logo_zhaw {
    width: auto;
    height: 100px;
}