/*_______________________________________________Allgemein Einstellungen*/
* {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-style: normal;
}

.green-button {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    color: white;
    font-size: 63px;
    font-weight: 900;
    margin: 10px;
}

h2 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin: 10px 10px 10px 0px;
}

h3 {
    color: #004318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    color: white;
    font-size: 32px;
}

a {
    font-size: 25px !important;
}

.oranger_titel {
    font-size: 32px;
    color: #CD7C46;
    margin-bottom: 0px;

}

.text_green {
    color: #004318;
    font-size: 32px;
    font-weight: 500;
}

.h2_green {
    color: #004318;
    font-size: 48px;
    font-weight: 900;
    margin: 10px;
}

.header_container,
.block1_container,
.block2_container,
.block3_container,
.block4_container,
.block5_container,
.block6_container,
.video_block,
.footer_container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*______________________________________________Mobile view*/

/*Allgemein Einstellungen*/

@media only screen and (max-width: 900px) {

    .header_container,
    .block1_container,
    .block2_container,
    .block3_container,
    .block4_container,
    .block5_container,
    .block6_container,
    .video_block,
    .footer_container {
        max-width: 100% !important;
    }

    h2 {
        font-size: 35px;
    }

    h1 {
        font-size: 35px !important;
    }

    .h2_green {
        font-size: 35px;
    }

    p {
        font-size: 25px !important;
    }

    /*Header*/

    header {
        padding: 0px 30px 0px 30px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #logo {
        width: 180px !important;
        margin-top: 20px;
    }

    #start_button {
        display: none !important;
    }

    .header_container {
        display: flex;
    }

    .nav_links {
        display: flex;
        justify-content: space-around;
    }

    /*Main*/

    .block1 {
        height: auto !important;
        padding: 40px !important;
    }

    .container_profiles {
        flex-wrap: wrap !important;
    }

    .profile_dario,
    .profile_simone,
    .profile_cedric {
        text-align: center !important;
    }

    .profile_dario p,
    .profile_simone p,
    .profile_cedric p {
        margin-top: 0px !important;
        margin-bottom: 50px !important;
    }

    body .video_block {
        height: 275px !important;
    }

    .block3 {
        text-align: left !important;
    }

    .container_value_box {
        flex-wrap: wrap !important;
    }

    .value_box_1,
    .value_box_2,
    .value_box_3 {
        margin-bottom: 40px;
    }

    .img_logo_fhgr,
    .img_logo_genf,
    .img_logo_zhaw {
        display: none !important;
    }

    /*Footer*/

    .footer__links {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .footer__links__left,
    .footer__links__center {
        text-align: center !important;
        padding-left: 0px !important;
    }

    .adresse_footer_right {
        padding-right: 0px !important;
    }

    .adresse_footer_right p {
        text-align: center !important;
        font-size: 25px !important;

    }

    #school-logo {
        display: none !important;
    }

    .newsletterbox {
        display: none !important;
    }


}

/*__________________________________________Tablet view*/

@media only screen and (max-width: 1200px) {

    .header_container,
    .block1_container,
    .block2_container,
    .quartet_container,
    .partner_container,
    .video_block,
    .footer_container {
        max-width: 100% !important;
    }

    /*Header*/

    header {
        padding: 0px 30px 0px 30px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo {
        width: 200px !important;
        margin-top: 10px;
    }

    #start_button {
        display: none !important;
    }

    .header_container {
        display: flex;
    }

    .nav_links {
        display: flex;
        justify-content: space-around;
    }

    /*Main*/

    .block1 {
        height: auto !important;
        padding: 40px !important;
    }

    .container_profiles {
        flex-wrap: wrap !important;
    }

    .profile_dario,
    .profile_simone,
    .profile_cedric {
        text-align: center !important;
    }

    .profile_dario p,
    .profile_simone p,
    .profile_cedric p {
        margin-top: 0px !important;
        margin-bottom: 50px !important;
    }

    .video_block {
        height: 550px !important;
    }

    .newsletterbox {
        display: none !important;
    }

    .container_logos {
        flex-wrap: wrap;
    }

    .custom-block2 {
        padding: 40px !important;

    }

    .container_logos {
        text-align: center !important;
    }

    #school-logo {
        display: none !important;
    }

    /*Footer*/

    .newsletterbox {
        display: none !important;
    }


}


/*_______________________________________________Header*/

header {
    background-color: #FDFFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    position: sticky;
    top: 0;
    position: sticky;
    z-index: 1000;
}

#logo {
    width: 248px;
}


/*__________Navigation*/

.nav_links {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nav_links a {
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: #004317;
}

.nav_links a:hover,
.aktiver_nav_link {
    font-weight: 900;
    color: #004318;
    margin-bottom: 5px;
}


/*_______________________________________________Zeile 1*/

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #004318;
    border-radius: 25px;
    padding: 50px 40px 50px 40px;
    height: 400px;
}


/*_______________________________________________Zeile 2*/

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #FDFFF8;
    border-radius: 25px;
    padding: 50px 40px 50px 40px;
    height: 600px;
}

.container_profiles {
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}

.profile_dario,
.profile_simone,
.profile_cedric {
    text-align: center !important;
}

.profile_dario p,
.profile_simone p,
.profile_cedric p {
    margin-top: 0px !important;
    margin-bottom: 50px !important;
}

.profile_dario h3,
.profile_simone h3,
.profile_cedric h3 {
    margin-top: 20px !important;
}

/*_______________________________________________Zeile Video*/

.video_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    height: 800px;
    padding: 20px 0px 0px 0px;
    object-fit: cover;
}

.video_block video {
    width: 100%;
    height: 100%;
}

/*_______________________________________________Zeile 3*/

.block3 {
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
    background: #BEF542;
    border-radius: 25px;
    padding: 70px 40px 50px 40px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*_______________________________________________Zeile 4*/

.block4 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    background: #008849;
    border-radius: 25px;
    padding: 70px 40px 50px 40px;
    height: auto;
}


/*_______________________________________________Zeile 5*/

.block5 {
    text-align: center;
    background: #F2F8E2;
    border-radius: 25px;
    padding: 50px 40px 90px 40px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container_value_box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 50px;
}

.value_box_1,
.value_box_2,
.value_box_3 {
    height: auto;
    width: 391px;
}


/*_______________________________________________Zeile 6*/

.block6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    height: auto;
}

.container_logos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 25%;
}

.img_logo_fhgr {
    width: auto;
    height: 100px;
}

.img_logo_eth {
    width: auto;
    height: 250px;
}

.img_logo_genf {
    width: auto;
    height: 100px;
}

.img_logo_zhaw {
    width: auto;
    height: 100px;
}

/*_______________________________________________Footer*/

footer {
    width: 100%;
    background-color: #F2F8E2;
    color: #004318;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.titel_footer {
    font-size: 48px;
    font-weight: 800;
    margin: 10px 100px 10px;
    color: #004318;
    margin-top: 50px;
    margin-bottom: 40px;
}

.newsletterbox {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #004318;
    border-radius: 25px;
    display: flex;
    align-items: center;

}

.text_newsletter {
    text-align: left;
    padding-left: 50px;
    font-size: 32px;
    font-weight: 700;
    color: white;
    flex: 1;

}

.email {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
}

.email__and_button {
    padding-right: 50px;
}

.footer__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.center {
    padding-left: 0;
}

a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: #004318;
}

.footer__links__left {
    text-align: left;
    padding-left: 40px;
    padding-top: 9px;
    width: 300px;
    justify-content: left;
}

.container_footer_links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__links__center {
    width: 300px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
}

.adresse_footer_right {
    justify-content: right;
    padding-right: 40px;
    width: 300px;
}

.adresse_footer_right p {
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    color: #004318;
    text-decoration: none;
}

.Trennbalken {
    width: 70%;
}

.icons_footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.icons_footer img {
    margin: 0px 15px 0px 15px;
}

.Linkliste {
    padding: 0;
}

.center_linkliste {
    padding: 0;
}

.container_email {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 5px;
    height: 85%;
    margin-right: 15px;
}

.pfeil {
    padding-right: 10px;
    padding-left: 10px;
}

.green-button-footer {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.button_footer {
    justify-content: center;
    align-items: center;
    height: 100%;
}