/*_______________________________________________Allgemein Einstellungen*/
*{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-style: normal; 
}

.green-button {
    background-color: #008849;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

h1{
    color: white;
    font-size: 63px;
    font-weight: 900;
    margin-bottom: 0;
    
}

h2{
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 10px;
}

p{
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.oranger_titel{
    font-size: 32px;
    color: #CD7C46;

}

/*_______________________________________________Responsive*/

.header_container,
.block1_container,
.footer_container{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*___________________________Mobile view*/

/*Allgemein Einstellungen*/

  @media only screen and (max-width: 600px) {
    .header_container,
    .block1_container,
    .footer_container{
        max-width: 100% !important;
    }   

    h2{
        font-size: 35px;
    }

    h1{
        font-size: 35px !important;
    }

    p{
        font-size: 25px !important;
    }

     /*Header*/

     header{
        padding: 0px 30px 0px 30px !important;
        
    }

    #logo{
        width: 75px !important;
        display: 1;
    }

    .nav_links{
        gap: 0px !important;
    }

    .nav_links a{
        font-size: 12px !important;
        width: 90px !important;
        padding: 0px !important; 
    }

    #start_button {
        display: none !important;
    }

    /*Main*/

    .block1{
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        background: #004318;
        border-radius: 25px;
        border-left: 40px solid #004318 !important;
        border-right: 40px solid #004318 !important;
        height: auto;
    }

}


/*_______________________________________________Header*/

header{
    background-color: #FDFFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    position: sticky;
    top: 0;
}

#logo{
    width: 248px;
    display: 1;
}


/*__________Navigation*/

nav{
    display: 4;
}

.nav_links{
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nav_links a{
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 24px;   
    text-align: center;
    color: #004318; 
}

.nav_links a:hover, .aktiver_nav_link{
    font-weight:900;
    color: #004318;
    margin-bottom: 5px;
}

/*_______________________________________________Zeile 1*/

.block1{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background: #004318;
    border-radius: 25px;
    border-left: 100px solid #004318;
    border-right: 300px solid #004318;
    height: auto;
}